@inherits System.Web.Mvc.WebViewPage

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <title></title>
</head>
<body>
    <div>
        <center>Box Api Build Done Sucessfully . Please See Documentation Page For API Request and Response <a href="/Help">Help</a></center>
    </div>
</body>
</html>